@{
    ViewData["Title"] = "Booking Page";
}

<div class="text-center">
    <h1 class="display-4">Booking: @ViewBag.room.Name</h1>
    <div class="container">
        <div class="row">
            <div class="col-7">
                <form method="POST">
                    <div class="mb-3">
                        <label for="fullname" class="form-label float-start">Tên</label>
                        <input type="text" class="form-control" name="fullname" id="fullname" required>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label float-start">Email</label>
                        <input type="email" class="form-control" name="email" id="email" required>
                    </div>
                    <div class="mb-3">
                        <label for="phone" class="form-label float-start">Số điện thoại</label>
                        <input type="text" class="form-control" name="phone" id="phone">
                    </div>
                    <div class="mb-3">
                        <label for="dates" class="form-label float-start">ngày bắt đầu - ngày kết thúc</label>
                        <input type="text" class="form-control" name="dates" id="dates" placeholder="choose date" required>
                    </div>
                    <div class="mb-3">
                        <label for="adult" class="form-label float-start">Người lớn</label>
                        <input type="number" class="form-control" name="adult" id="adult" value="0" required min="0">
                    </div>
                    <div class="mb-3">
                        <label for="chilren" class="form-label float-start">Trẻ em</label>
                        <input type="number" class="form-control" name="chilren" id="chilren" value="0" required min="0">
                    </div>
                    <div class="mb-3">
                        <label for="services" class="form-label">Dịch vụ phòng</label>
                        <select class="form-select" name="services" id="services" aria-describedby="services" multiple>
                            @foreach (var service in ViewBag.room.Services)
                            {
                                <option value="@service.Id">@service.Name - @service.Price</option>
                            }
                        </select>
                    </div>
                    <input type="hidden" name="total" value="0" id="total" />
                    <input type="hidden" name="room" value="@ViewBag.Room.Id" id="room" />
                    <button class="btn btn-primary text-uppercase float-end" type="submit">Checkout</button>
                </form>
            </div>
            <div class="col-5">
                <div class="card p-2">
                    <img class="card-img-top" src="https://www.thespruce.com/thmb/Yaz6mR23IBvAPvkviKYi1N6clLU=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/PAinteriors-7-cafe9c2bd6be4823b9345e591e4f367f.jpg">
                    <h2 class="card-title text-start">@ViewBag.room.Name</h2>

                    <div class="card-body">
                        <div class="card-text text-start">roomtype: @ViewBag.room.RoomType.Name</div>
                        <div class="card-text text-start">@ViewBag.room.Bed Beds</div>
                        <div class="card-text text-start">
                            @ViewBag.room.Description
                        </div>
                        <p class="card-text text-danger text-uppercase fw-bold float-end py-3" id="total_price">0 đ</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(() => {
            var total = 0;

            let date = new Date().toLocaleDateString();
            $('input[name="dates"]').daterangepicker({
                minDate: date,
                autoApply: true,
            });

            $('#services').select2();
            
            
            function resetTotal() {
                var adult = parseInt($('#adult').val());
                var chilren = parseInt($('#chilren').val());
                var daterange = $('#dates').val();
                total = adult * 15000 + chilren * 20000 + @ViewBag.room.RoomPrice;
                $('#total').text(total);
            }

            $('#adult,#chilren,#services,#dates').on('change', () => {

                var adult = parseInt($('#adult').val());
                var chilren = parseInt($('#chilren').val());
                var services = $('#services').val();
                var dates = $('#dates').val();

                $.ajax({
                    type: "POST",
                    url: "/Booking/MatchTotal",
                    data: {
                        room: @ViewBag.Room.Id,
                        adult: adult,
                        chilren: chilren,
                        services: services,
                        dates: dates
                    },
                    success: (data) => {
                        $('#total_price').text(data.value);
                        $('#total').val(data.value);
                    }

                })
            })
        })
    </script>
}
