@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
}

<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h1>Add Room</h1>
        <form method="POST">
            <div class="mb-3">
                <label for="roomtype" class="form-label">Name</label>
                <input type="text" class="form-control" name="name" id="roomtype" aria-describedby="roomtype">
            </div>
            <div class="mb-3">
                <label for="Description" class="form-label">Description</label>
                <textarea class="form-control" name="description" id="Description" rows="3"></textarea>
            </div>
            <div class="mb-3">
                <label for="roomPrice" class="form-label">Room Price</label>
                <input type="number" class="form-control" name="roomPrice" id="roomPrice" aria-describedby="roomPrice">
            </div>
            <div class="mb-3">
                <label for="chilrenPrice" class="form-label">Chilren Price</label>
                <input type="number" class="form-control" name="chilrenPrice" id="chilrenPrice" aria-describedby="chilrenPrice">
            </div>
            <div class="mb-3">
                <label for="bed" class="form-label">Bed Number</label>
                <input type="number" class="form-control" name="bed" id="bed" aria-describedby="bed">
            </div>
            <div class="mb-3">
                <label for="roomtype" class="form-label">RoomType</label>
                <select class="form-select" name="roomtype" id="roomtype" aria-describedby="roomtype">
                    @foreach(var roomtype in ViewBag.RoomTypes)
                    {
                        <option value="@roomtype.Id">@roomtype.Name</option>
                    }
                </select>
            </div>
            <div class="mb-3">
                <label for="services" class="form-label">Services</label>
                <select class="form-select" name="services" id="services" aria-describedby="services" multiple>
                    @foreach (var service in ViewBag.Services)
                    {
                        <option value="@service.Id">@service.Name - @service.Price</option>
                    }
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>


@section Scripts {
    <script>
        $(document).ready(function () {
            $('#services').select2();
        });
    </script>
}
